html, body {
 overflow-y:auto;
 overflow-x:hidden;
 margin:0;
 padding:0;
 font-family: 'Quicksand', sans-serif;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1075%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(219%2c 213%2c 209%2c 1)'%3e%3c/rect%3e%3cpath d='M1844.334%2c266.998C1891.573%2c266.232%2c1925.738%2c226.849%2c1948.389%2c185.388C1969.918%2c145.982%2c1980.248%2c98.689%2c1957.409%2c60.028C1934.885%2c21.899%2c1888.606%2c8.186%2c1844.334%2c9.247C1802.129%2c10.258%2c1762.328%2c29.234%2c1740.269%2c65.23C1717.163%2c102.935%2c1713.991%2c149.561%2c1734.262%2c188.863C1756.368%2c231.724%2c1796.114%2c267.78%2c1844.334%2c266.998' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1696.256%2c1270.488C1806.533%2c1269.372%2c1926.16%2c1247.573%2c1981.329%2c1152.081C2036.517%2c1056.556%2c1997.119%2c941.177%2c1941.578%2c845.857C1886.527%2c751.378%2c1805.48%2c668.041%2c1696.256%2c662.837C1578.653%2c657.234%2c1467.102%2c719.256%2c1406.802%2c820.378C1345.024%2c923.979%2c1335.77%2c1056.498%2c1401.013%2c1157.953C1462.07%2c1252.898%2c1583.379%2c1271.63%2c1696.256%2c1270.488' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1344.359%2c770.553C1410.261%2c769.304%2c1463.634%2c727.453%2c1501.086%2c673.213C1546.341%2c607.672%2c1599.369%2c527.462%2c1560.028%2c458.209C1520.482%2c388.595%2c1424.392%2c395.121%2c1344.359%2c397.322C1269.742%2c399.374%2c1186.393%2c405.338%2c1148.299%2c469.531C1109.687%2c534.598%2c1135.7%2c615.956%2c1176.993%2c679.355C1214.157%2c736.415%2c1276.276%2c771.843%2c1344.359%2c770.553' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1008.653%2c878.024C1106.701%2c880.923%2c1214.424%2c870.683%2c1268.274%2c788.695C1326.346%2c700.278%2c1316.832%2c582.986%2c1261.746%2c492.679C1208.844%2c405.953%2c1110.228%2c361.536%2c1008.653%2c363.081C909.885%2c364.583%2c817.477%2c414.369%2c768.553%2c500.181C720.074%2c585.213%2c721.83%2c691.478%2c774.326%2c774.091C823.444%2c851.387%2c917.111%2c875.318%2c1008.653%2c878.024' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-40.857%2c543.209C2.631%2c542.989%2c47.445%2c528.589%2c69.024%2c490.831C90.471%2c453.304%2c79.034%2c408.077%2c57.927%2c370.358C36.194%2c331.521%2c3.618%2c292.873%2c-40.857%2c294.472C-83.735%2c296.013%2c-106.92%2c339.708%2c-128.061%2c377.044C-148.749%2c413.578%2c-172.19%2c454.776%2c-152.68%2c491.952C-132.257%2c530.867%2c-84.804%2c543.431%2c-40.857%2c543.209' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1482.415%2c918.403C1553.894%2c915.19%2c1600.219%2c850.756%2c1634.268%2c787.826C1666.21%2c728.791%2c1684.238%2c661.003%2c1654.151%2c601.001C1620.962%2c534.812%2c1556.456%2c484.324%2c1482.415%2c484.985C1409.293%2c485.638%2c1351.577%2c540.185%2c1315.907%2c604.02C1281.241%2c666.057%2c1271.654%2c739.83%2c1304.916%2c802.632C1340.352%2c869.538%2c1406.78%2c921.803%2c1482.415%2c918.403' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M836.727%2c142.073C886.124%2c143.716%2c939.61%2c134.177%2c965.785%2c92.253C993.181%2c48.373%2c986.054%2c-8.806%2c958.107%2c-52.337C932.271%2c-92.579%2c884.548%2c-108.411%2c836.727%2c-108.768C788.14%2c-109.131%2c737.045%2c-95.909%2c712.165%2c-54.174C686.802%2c-11.628%2c695.184%2c42.317%2c721.728%2c84.136C746.381%2c122.978%2c790.747%2c140.544%2c836.727%2c142.073' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M853.748%2c408.21C934.701%2c408.133%2c1012.888%2c366.821%2c1049.943%2c294.847C1084.497%2c227.731%2c1062.101%2c148.226%2c1019.781%2c85.715C982.809%2c31.104%2c919.664%2c7.13%2c853.748%2c5.045C783.079%2c2.81%2c708.164%2c16.092%2c668.472%2c74.604C624.163%2c139.921%2c618.582%2c226.222%2c656.903%2c295.223C696.273%2c366.112%2c772.66%2c408.287%2c853.748%2c408.21' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M780.532%2c1206.002C855.517%2c1206.421%2c938.296%2c1190.61%2c974.03%2c1124.686C1008.736%2c1060.658%2c969.37%2c988.04%2c932.827%2c925.043C896.471%2c862.368%2c852.983%2c790.294%2c780.532%2c791.115C708.819%2c791.928%2c669.739%2c866.193%2c634.101%2c928.429C598.79%2c990.094%2c557.591%2c1059.693%2c590.747%2c1122.543C625.308%2c1188.056%2c706.463%2c1205.588%2c780.532%2c1206.002' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M167.181%2c1106.199C247.37%2c1105.396%2c308.819%2c1044.953%2c350.222%2c976.274C393.395%2c904.658%2c428.851%2c816.042%2c385.04%2c744.814C342.425%2c675.53%2c248.273%2c672.318%2c167.181%2c678.684C98.929%2c684.042%2c37.92%2c716.97%2c1.472%2c774.924C-37.797%2c837.363%2c-55.323%2c914.039%2c-22.325%2c980.007C14.064%2c1052.754%2c85.844%2c1107.014%2c167.181%2c1106.199' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M468.481%2c861.052C533.32%2c861.182%2c591.441%2c819.434%2c620.069%2c761.257C645.853%2c708.859%2c626.612%2c649.873%2c597.233%2c599.403C568.091%2c549.339%2c526.405%2c500.13%2c468.481%2c500.846C411.374%2c501.552%2c373.761%2c553.105%2c345.128%2c602.52C316.389%2c652.119%2c293.256%2c708.915%2c317.941%2c760.652C345.779%2c818.998%2c403.834%2c860.923%2c468.481%2c861.052' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1391.579%2c1165.209C1469.8%2c1163.237%2c1531.31%2c1107.664%2c1571.738%2c1040.671C1613.9%2c970.804%2c1641.787%2c886.378%2c1603.254%2c814.445C1563.004%2c739.306%2c1476.668%2c699.263%2c1391.579%2c704.351C1314.047%2c708.987%2c1258.02%2c769.862%2c1219.633%2c837.383C1181.809%2c903.912%2c1159.426%2c982.395%2c1194.973%2c1050.167C1232.774%2c1122.237%2c1310.223%2c1167.26%2c1391.579%2c1165.209' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1065.265%2c653.824C1114.858%2c649.611%2c1143.974%2c602.649%2c1166.769%2c558.404C1187.115%2c518.913%2c1199.427%2c473.622%2c1178.218%2c434.588C1156.158%2c393.989%2c1111.423%2c373.679%2c1065.265%2c371.594C1014.598%2c369.305%2c961.06%2c381.176%2c933.138%2c423.517C902.618%2c469.798%2c901.148%2c530.54%2c928.735%2c578.627C956.446%2c626.93%2c1009.778%2c658.538%2c1065.265%2c653.824' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1882.231%2c1318.633C1970.334%2c1314.59%2c2035.809%2c1248.951%2c2082.284%2c1173.993C2132.27%2c1093.372%2c2175.537%2c998.464%2c2133.449%2c913.452C2087.586%2c820.814%2c1985.598%2c769.281%2c1882.231%2c769.912C1779.939%2c770.536%2c1685.787%2c826.976%2c1636.266%2c916.484C1588.239%2c1003.291%2c1595.871%2c1109.305%2c1647.634%2c1193.937C1697.159%2c1274.91%2c1787.413%2c1322.984%2c1882.231%2c1318.633' fill='rgba(102%2c 103%2c 171%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1075'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
 
button, input {
 font-family: 'Quicksand', sans-serif;
 font-size: 1.2em;
}
 
.content button {
 padding:1em;
 cursor:pointer;
 font-weight:bold;
 background-color:#6667AB;
 border-radius: 18px;
 border:solid 1px white;
 color: #f1f0ec;
 margin: 0.3em 0.2em 0.2em 0.2em;
}
 
.content {
 color: #28282d;
 position: absolute;
 left: 50%;
 top: 50%;
 width: 20em;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 background-color: #f1f0ec;
 border-radius: 20px;
 padding:0.5em 2em 2em 2em;
}
 
.content a, p, label, #scoreboard {
 font-weight: bold;
 font-size: 1.3em;
}
 
.content h1 {
   font-size: 2.5em;
}
 
/* PAGE 6 */
.choiceBox button {
 /* padding: 2em !important; */
 /* padding-top: 1em !important; */ 
 /* padding-bottom: 1em !important; */
}
 
/* PAGE 7 */
.columnbar {
 background-color: #555;
 width: 3.2em;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
 
#bar1 {
 height: 50px
}
 
#bar2 {
 height: 100px
}
 
#bar3 {
 height: 70px
}
 
#bar4 {
 height: 120px
}
 
.statsTable td {
 padding: 0 0.5em 0.5em 0.5em;
}
 
/* GAME */
 
#scoreboard table tr td {
 width: 30%;
 text-align: center;
}
 
#timer {
 background: #6667AB;
 border-radius: 50%;
 width: 2.5em;
 height: 2.5em;
 position: relative;
 right: 1.6em;
}
 
#timer p {
 margin: 0;
 margin-left:-4px;
 position: relative;
 top: 0.4em;
 left: 0.65em;
 color: #f1f0ec;
}

